body {
    background-color: rgb(227, 233, 255);
}

.d1 {
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 50%;
   height: 50%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.d11 {
    width: 100%;
    height: 25%;
    text-align: center;
    background-color:  #af7eeb;
    color: rgb(255, 255, 255);
    margin: 0;

}
.symbol {
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
}


.icon {
    display: inline-block;
    width: 27%;
    height: 20%;
    vertical-align: middle;
    padding-top: 30px;
}
.menu-icon > .line {
    background-color: #ffffff;
    height: 2px;
    display: block;
}
.title {
    text-align: left;
    width: 60%;
    height: 80%;
    padding-top: 30px;
    float: right;
    font-size: 145%;
    font-weight: bold;
}
.menu-icon > .line + .line {
    margin-top: 8px;
}

.d12 {
    width: 100%;
    height: 6%;
    background-color: rgb(227, 233, 255);
}
.d13 {
    width: 100%;
    min-height: 100%;
    background-color: white;
    position: relative;
    padding-bottom: 45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.d13 button {
    position: absolute;
    left: 37%;
    width: 35%;
    height: 21%;
    bottom: 0;
    margin: -30px;
    border-radius: 25px;
    background-color:  #af7eeb;
    border-width: 0;
    color: white;
    font-size: large;
    
}
.d13 ul li span {
    float: right; margin-right: 45px;
    
}

.d13 span:hover {
    cursor: pointer;
}
.plus::after {
    content: ' \002B';
}
ul {
    padding-top: 40px;
    display: block;
    list-style-position: inside;
    list-style-type: none;
}
ul li {
    display: list-item;
    padding: 4px;
    font-size: 22px;
    margin-bottom: 5px;
    color: #343434;
    margin: 0;
}
:root {
    --pseudo-backgroundcolor: rgb(255, 255, 255);
}
ul li::before {
    position: relative;
    background: var(--pseudo-backgroundcolor);
    content: '\2219 ';
    border-radius: 100%;
    border: 1px solid black;
    color: white;
    padding-right: 4;
    font-size: 5;
    margin-right: 20px;
    margin-bottom: 10px;
    vertical-align: middle
   
}

ul li:hover {
    /* text-decoration-line: line-through; */
    text-decoration-color:#af7eeb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



@media only screen and (max-width:738px)
{
.d1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 45%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.d11 {
    width: 100%;
    height: 25%;
    text-align: center;
    background-color:  #af7eeb;
    color: rgb(255, 255, 255);
    margin: 0;

}
.symbol {
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
}
.title {
    width: 70%;
}
.d13 button {
    position: absolute;
    left: 42%;
    width: 35%;
    height: 17%;
    bottom: -2px;
    margin: -22px;
    border-radius: 25px;
    background-color:  #af7eeb;
    border-width: 0;
    color: white;
    font-size: small;
    
}
ul li{
    font-size: small;
}
ul {
    margin-left: 15px;
}
.d13 {
    min-height: 70%;
   

}
}
@media (min-width: 768px) and (max-width: 1066px)
{
.d1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }   
.d13 {
    min-height: 75%;
}
.d13 button {
    position: absolute;
    left: 40%;
    width: 35%;
    height: 17%;
    bottom: -2px;
    margin: -22px;

    
}
}
